/* Style for the summary pages */
.refresh-summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 4.5em;
  text-overflow: ellipsis;
}
.refresh-summary-title {
  position: relative;
  margin: 10px 0 0 0;
  margin-bottom: 10px !important;
  padding: 0 0 5px 0;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* end */

/* Styles for code snippets */
.code-highlight {
  font-size: 1.1em;
  border-radius: 4px;
}
.content pre code table td:first-child {
  border-right: 1px solid #999; /* #dbdbdb;*/
  text-align: right;
  padding-right: 13px;
  color: #999; /*f8f8f2*/
}
.code-highlight table td {
  border: 0px;
}
.code-highlight table {
  width: auto;
}
.nonumbers pre code table td:first-child {
  display: none;
}
.codeinline {
  display: inline !important;
  padding-top: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  border-radius: 4px;
  white-space: nowrap;
}
/* End */

/* Style to remove srollbar width */
div.scroll {
  overflow-x: hidden;
  scrollbar-width: none; /* Remove scrollbar width in Firefox */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Remove scrollbar width in MS Edge */
}
/* Remove scrollbar width in Chrome */
div.scroll::-webkit-scrollbar {
  width: 0px;
}
/* end */

/* Style for tabs shortcode */
.content .pre-colorless {
  background-color: hsla(120, 100%, 50%, 0);
}

.content .hide {
  display: none; /* !important;*/
}
/* End */

/* Style to fix titles when using links inside same page */
.content h5 {
  display: inline-block;
}
.content h4 {
  display: inline-block;
}
/* End */

/* Style used in images */
.content .rounded-corners {
  border-radius: 10px;
}
/* end */

/* Style used in "site" shortcode */
.refresh-site-left {
  width: 100%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.refresh-site-right {
  width: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* end */

/*
 * Profile Picture styling
 */
.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
}

.profile-single-container {
  background-color: white;
  width: 200px;
  height: 300px;
}

.profile-logo-container {
  display: block;
  padding: 9px 0px;
  height: 44px;
}

.profile-logo-container a {
  text-decoration: none;
  color: black;
}

.profile-logo {
  height: 20px;
  padding: 0px 5px;
  filter: opacity(0.7);
  display: inline-block;
}

.profile-logo-size {
  font-size: 20px;
}

.profile-pic-container {
  border-width: thin;
  border-color: darkblue;
  border-radius: 50%;
  border-style: solid;
  width: 150px;
  height: 150px;
  max-width: 300px;
  margin: 0px 25px 5px 25px;
  background: #000000;
}

.profile-pic-background {
  border-radius: 50%;
  border-style: none;
  width: 148px;
  height: 148px;
  object-fit: cover;
  background: #000000;
  background-position: center;
  background-size: 105px;
  background-repeat: no-repeat;
}
.profile-pic {
  border-radius: 50%;
  border-style: none;
  width: 148px;
  height: 148px;
  object-fit: cover;
}
.profile-info-container {
  position: relative;
  top: 0px;
}
.profile-name {
  font-size: 18px;
}

.profile-position {
  font-size: 12px;
  font-weight: 300;
}

.profile-title-container {
  display: block;
  width: 170px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}
.profile-position-container {
  display: block;
  width: 170px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.profile-name-scroll {
  display: block;
}
.profile-position-scroll {
  display: block;
}

.footer-title {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 20px;
}

#subscribe_title {
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* Taken from http://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css and adapted:
MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */
#mc_embed_signup {
  background: #000000;
  clear: left;
  width: 100%;
}
#mc_embed_signup form {
  text-align: center;
  padding: 10px 0 10px 0;
}
.mc-field-group {
  display: inline-block;
} /* positions input field horizontally */
#mc_embed_signup input.email {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana,
    sans-serif;
  font-size: 15px;
  border: 1px solid #abb0b2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 0.4em;
  display: inline-block;
  margin: 0;
  width: 350px;
  vertical-align: top;
}
#mc_embed_signup label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}
#mc_embed_signup .clear {
  display: inline-block;
} /* positions button horizontally in line with input */
#mc_embed_signup .button {
  letter-spacing: normal;
  text-transform: none;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
  transition: all 0.23s ease-in-out 0s;
}
#mc_embed_signup .button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em 0.5em 0em 0.5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}
#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em 0.5em 0.5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}
#mc_embed_signup #mce-error-response {
  display: none;
}
#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}
#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: 0.5em 0;
}
#mc_embed_signup_scroll {
  vertical-align: middle;
}
@media (max-width: 768px) {
  #mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 5px;
  }
  #mc_embed_signup .clear {
    display: block;
    width: 100%;
  }
  #mc_embed_signup .button {
    width: 100%;
    margin: 0;
  }
}

/* Styling for the Points System */
#points_container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.year-points-div {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#student_results p {
  margin-top: 5vh;
  font-size: 1.1em;
}

#points_line_prefix {
  display: inline;
}

#points_line_total {
  display: inline;
  font-size: 1.1em;
}

#student_username_input {
  border-radius: 30px;
  padding: 5px 5px 5px 12px;
  border: 3px solid #000000;
  margin-left: 15px;
  width: 30vw;
  font-size: 1em;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightslategray;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightslategray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightslategray;
}

#student_username_submit {
  font-size: large;
  margin-left: -36px;
  color: #000000;
  cursor: pointer;
}

*,
*:focus,
*:hover {
  outline: none;
}

@media (max-width: 768px) {
  #student_username_input {
    width: 60vw;
    margin-left: 0vw;
    padding: 5px 5px 5px 5px;
    margin-top: 2vh;
  }
  #student_username_submit {
    font-size: large;
    margin-left: 0;
  }
}
