@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white;
}

/* =========================== */
/* ======== Footer =========== */
/* =========================== */
.footer-container {
    @apply grow relative w-auto mx-auto my-0 lg:max-w-[960px];
}
@media screen and (min-width: 1216px) {
    .footer-container {
        @apply max-w-6xl;
    }
}
@media screen and (min-width: 1408px) {
    .footer-container {
        @apply max-w-[1344px];
    }
}

.select.is-white:not(:hover)::after {
    @apply border-white;
}
.select.is-black:not(:hover)::after {
    @apply border-[#0a0a0a];
}
.select.is-light:not(:hover)::after {
    @apply border-neutral-100;
}
.select.is-dark:not(:hover)::after {
    @apply border-[#363636];
}
.select.is-primary:not(:hover)::after {
    @apply border-[#00329e];
}
.select.is-link:not(:hover)::after {
    @apply border-[#3273dc];
}
.select.is-info:not(:hover)::after {
    @apply border-[#209cee];
}
.select.is-success:not(:hover)::after {
    @apply border-[#23d160];
}
.select.is-warning:not(:hover)::after {
    @apply border-[#ffdd57];
}
.select.is-danger:not(:hover)::after {
    @apply border-[#ff3860];
}
@media screen and (min-width: 1024px) {
    a.navbar-item.is-active:not(:focus):not(:hover),
    .navbar-link.is-active:not(:focus):not(:hover) {
        @apply bg-[rgba(0,0,0,0)];
    }
}
.columns {
    @apply ml-[-0.75rem] mr-[-0.75rem] mt-[-0.75rem] last:mb-[-0.75rem];
}
@media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
        @apply flex;
    }
}
.footer {
    @apply bg-neutral-50 pt-12 pb-24 px-6 block;
}
footer.footer-dark {
    @apply text-white;
    background: #000;
}
footer.footer-dark .columns {
    @apply mt-[35px];
}
footer.footer-dark .footer-column .footer-header h3 {
    @apply font-medium text-base uppercase tracking-[1px] mb-5;
}
footer.footer-dark .footer-column ul.link-list {
    @apply leading-10 text-[1.1rem];
}
footer.footer-dark .footer-column ul.link-list a {
    @apply text-[#98a9c3] font-normal transition-all duration-[0.5s];
}
footer.footer-dark .footer-column ul.link-list :hover {
    @apply text-[#fcfcfc];
}
.button {
    @apply cursor-pointer transition-all duration-[0.5s];
}
@media (max-width: 767px) {
    footer.footer-dark .columns {
        @apply mt-0;
    }
}
#subscribe_title {
    @apply tracking-[2px] text-2xl mb-2.5;
}
#mc_embed_signup {
    @apply clear-left w-full;
    background: #000000;
}
#mc_embed_signup form {
    @apply text-center px-0 py-2.5;
}
#mc_embed_signup input.email {
    @apply text-[15px] border text-[#343434] bg-white box-border h-8 inline-block w-[350px] align-top m-0 px-[0.4em] py-0 rounded-[3px] border-solid border-[#abb0b2];
    /* font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif; */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#mc_embed_signup .clear {
    @apply inline-block;
}
#mc_embed_signup .button {
    @apply tracking-[normal] normal-case bg-white text-black box-border h-8 leading-8 inline-block transition-all duration-[0.23s] ease-[ease-in-out] delay-[0s] m-0 px-[18px] py-0 rounded-[3px] border-[none] hover:bg-[#e8e8e8] hover:cursor-pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#mc_embed_signup_scroll {
    @apply align-middle;
}
@media (max-width: 768px) {
    #mc_embed_signup input.email {
        @apply w-full mb-[5px];
    }
    #mc_embed_signup .clear {
        @apply block w-full;
    }
    #mc_embed_signup .button {
        @apply w-full m-0;
    }
}

/* =========================== */
/* ======== Navbar =========== */
/* =========================== */
@media screen and (min-width: 1024px) {
    .is-hidden-desktop {
        display: none !important;
    }
}
.button:focus:not(:active),
.button.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(50,115,220,0.25)];
}
.button.is-white:focus:not(:active),
.button.is-white.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(255,255,255,0.25)];
}
.button.is-black:focus:not(:active),
.button.is-black.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(10,10,10,0.25)];
}
.button.is-light:focus:not(:active),
.button.is-light.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(245,245,245,0.25)];
}
.button.is-dark:focus:not(:active),
.button.is-dark.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(54,54,54,0.25)];
}
.button.is-primary:focus:not(:active),
.button.is-primary.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(0,50,158,0.25)];
}
.button.is-link:focus:not(:active),
.button.is-link.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(50,115,220,0.25)];
}
.button.is-info:focus:not(:active),
.button.is-info.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(32,156,238,0.25)];
}
.button.is-success:focus:not(:active),
.button.is-success.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(35,209,96,0.25)];
}
.button.is-warning:focus:not(:active),
.button.is-warning.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(255,221,87,0.25)];
}
.button.is-danger:focus:not(:active),
.button.is-danger.is-focused:not(:active) {
    @apply shadow-[0_0_0_0.125em_rgba(255,56,96,0.25)];
}
.navbar-container {
    @apply grow relative w-auto mx-auto my-0;
}
@media screen and (min-width: 1024px) {
    .navbar-container {
        @apply max-w-[960px];
    }
}
@media screen and (min-width: 1216px) {
    .navbar-container {
        @apply max-w-6xl;
    }
}
@media screen and (min-width: 1408px) {
    .navbar-container {
        @apply max-w-[1344px];
    }
}

.navbar {
    @apply bg-white min-h-[3.25rem] relative z-30;
}
.navbar > .navbar-container {
    @apply items-stretch flex min-h-[3.25rem] w-full;
}
.navbar-brand {
    @apply items-stretch flex shrink-0 min-h-[3.25rem];
}
.navbar-brand a.navbar-item:focus,
.navbar-brand a.navbar-item:hover {
    @apply bg-transparent;
}
.navbar-menu {
    @apply hidden;
}
.navbar-item {
    @apply text-[#4a4a4a] block leading-normal relative px-3 py-2 grow-0 shrink-0;
}
a.navbar-item {
    @apply cursor-pointer;
}
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    @apply bg-neutral-50 text-[#3273dc];
}
.navbar-item img {
    @apply max-h-7;
}
.navbar-item.is-expanded {
    @apply grow shrink;
}
@media screen and (max-width: 1023px) {
    .navbar > .navbar-container {
        @apply block;
    }
    .navbar-brand .navbar-item {
        @apply items-center flex;
    }
    .navbar-menu {
        @apply bg-white shadow-[0_8px_16px_rgba(10,10,10,0.1)] px-0 py-2;
    }
}
@media screen and (min-width: 1024px) {
    .navbar,
    .navbar-menu,
    .navbar-end {
        @apply items-stretch flex;
    }
    .navbar {
        @apply min-h-[3.25rem];
    }
    .navbar.is-transparent a.navbar-item:focus,
    .navbar.is-transparent a.navbar-item:hover {
        @apply bg-transparent;
    }
    .navbar-item {
        @apply items-center flex;
    }
    .navbar-menu {
        @apply grow shrink-0;
    }
    .navbar-end {
        @apply justify-end ml-auto;
    }
    .navbar > .navbar-container .navbar-brand {
        @apply ml-[-0.75rem];
    }
    .navbar > .navbar-container .navbar-menu {
        @apply mr-[-0.75rem];
    }
    a.navbar-item.is-active:not(:focus):not(:hover),
    .navbar-link.is-active:not(:focus):not(:hover) {
        @apply bg-[rgba(0,0,0,0)];
    }
}
.navbar.is-fresh {
    @apply relative min-h-[3.8rem] transition-all duration-[0.3s] z-[99];
}
.navbar.is-fresh .navbar-container {
    @apply min-h-[4rem];
}
.navbar.is-fresh .navbar-brand {
    @apply min-h-[4rem];
}
.navbar.is-fresh .navbar-brand img {
    @apply max-h-9 h-9;
}
.navbar.is-fresh .navbar-brand:hover .navbar-item {
    background: transparent !important;
}
.navbar.is-fresh .navbar-end {
    @apply items-center;
}
.navbar.is-fresh .navbar-item {
    @apply text-[#999];
}
.navbar.is-fresh .navbar-item.is-secondary:hover {
    @apply text-black;
}
#navbar-clone {
    @apply fixed w-full -translate-y-full z-[100] shadow-[0_0_8px_0_rgba(0,0,0,0.12)] left-0 top-0;
    background: #fff;
}
#navbar-clone.is-active {
    @apply translate-y-0;
}
.menu-icon-wrapper {
    @apply relative w-[34px] h-[34px] pointer-events-none transition-[0.1s] left-0 top-0;
}
.menu-icon-wrapper svg {
    @apply absolute top-[-18px] left-[-18px] origin-[0_0] scale-[0.07];
}
.menu-icon-wrapper .menu-icon-trigger {
    @apply relative w-full h-full cursor-pointer pointer-events-auto m-0 p-0 border-[none];
    background: none;
}
@media (max-width: 767px) {
    .navbar-menu .navbar-item {
        text-align: center !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .navbar-menu .navbar-item {
        text-align: center !important;
    }
}

/* =========================== */
/* ======== Homepage ========= */
/* =========================== */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 500ms ease-out forwards;
}

.hero-container {
    @apply grow relative w-auto mx-auto my-0 lg:max-w-[960px];
}
@media screen and (min-width: 1216px) {
    .hero-container {
        @apply max-w-6xl;
    }
}
@media screen and (min-width: 1408px) {
    .hero-container {
        @apply max-w-[1344px];
    }
}
@media screen and (min-width: 1024px) {
    a.navbar-item.is-active:not(:focus):not(:hover),
    .navbar-link.is-active:not(:focus):not(:hover) {
        @apply bg-[rgba(0,0,0,0)];
    }
}
.hero-column {
    @apply block basis-0 grow shrink p-3;
}
@media screen and (min-width: 769px), print {
    .hero-column.is-offset-1 {
        @apply ml-[8.33333333%];
    }
    .hero-column.is-5 {
        @apply flex-none w-[41.66666667%];
    }
}
.hero-columns {
    @apply ml-[-0.75rem] mr-[-0.75rem] mt-[-0.75rem] last:mb-[-0.75rem];
}
.hero-columns.is-vcentered {
    @apply items-center;
}
@media screen and (min-width: 769px), print {
    .hero-columns:not(.is-desktop) {
        @apply flex;
    }
}
.hero-body {
    @apply grow shrink-0 px-6 py-24;
}
@media (max-width: 767px) {
    .landing-caption {
        @apply text-center;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .landing-caption {
        @apply text-center;
    }
}

#backtotop {
    position: fixed;
    right: 0;
    opacity: 0;
    visibility: hidden;
    bottom: 25px;
    margin: 0 25px 0 0;
    z-index: 9999;
    transition: 0.35s;
    transform: scale(0.7);
    transition: all 0.5s;
}

#backtotop button:after {
    outline: none;
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
}

/* =========================== */
/* ======== Section ========== */
/* =========================== */
.title:not(:last-child),
.subtitle:not(:last-child) {
    margin-bottom: 1.5rem;
}

ul {
    list-style: none;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

td:not([align]),
th:not([align]) {
    text-align: left;
}

section {
    display: block;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    unicode-bidi: isolate;
}

.content blockquote {
    background-color: #f5f5f5;
    border-left: 5px solid #dbdbdb;
    padding: 1.25em 1.5em;
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 350;
    line-height: 1.5;
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #363636;
}

hr {
    background-color: #f5f5f5;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}

strong {
    color: #363636;
    font-weight: 700;
}

a strong {
    color: currentColor;
}

table td,
table th {
    vertical-align: top;
}

table td:not([align]),
table th:not([align]) {
    text-align: left;
}

table th {
    color: #363636;
}

.has-text-left {
    text-align: left !important;
}

.section-container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

@media screen and (min-width: 1024px) {
    .section-container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1216px) {
    .section-container {
        max-width: 1152px;
    }
}

@media screen and (min-width: 1408px) {
    .section-container {
        max-width: 1344px;
    }
}

.content li + li {
    margin-top: 0.25em;
}

.content p {
    font-size: 1em;
}

.content p:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content table:not(:last-child) {
    margin-bottom: 1em;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #363636;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 0.8888em;
}

.content h2 {
    font-size: 1.5em;
}

.content h2:not(:first-child) {
    margin-top: 1.1428em;
}

.content h3 {
    font-size: 1.25em;
    margin-bottom: 0.6666em;
}

.content h3:not(:first-child) {
    margin-top: 1.3333em;
}

.content h4 {
    display: inline-block;
    font-size: 1.1em;
    margin-bottom: 0.8em;
}

.content h5 {
    font-size: 1em;
    margin-bottom: 0.8888em;
}

.content ol {
    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;
}

.content ol:not([type]) {
    list-style-type: decimal;
}

.content ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
}

.content table {
    width: 100%;
}

.content table td,
.content table th {
    border: 1px #dbdbdb solid;
    border-width: 0 0 1px;
    padding: 0.25em 0.25em;
    vertical-align: top;
}

.content table th {
    color: #363636;
}

.content table th:not([align]) {
    text-align: left;
}

.content table thead th {
    border-width: 0 0 2px;
    color: #363636;
}

.content table tbody tr:last-child td {
    border-bottom-width: 0;
}

.title,
.subtitle {
    word-break: break-word;
}

.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.title:not(.is-spaced) + .subtitle {
    margin-top: -1.25rem;
}

.title.is-2 {
    font-size: 2.5rem;
}

.subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

.subtitle.is-5 {
    font-size: 1.25rem;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.columns:last-child {
    margin-bottom: -0.75rem;
}

@media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
        display: flex;
    }
}

.section {
    padding: 3rem 1.5rem;
}

@media screen and (min-width: 1024px) {
    .section.is-medium {
        padding: 9rem 1.5rem;
    }
}

.section .subtitle.is-muted {
    color: #999;
}

.divider {
    height: 3px;
    border-radius: 50px;
    background: #000;
    width: 60px;
}

@media (max-width: 767px) {
    .title.section-title {
        font-size: 1.75rem !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .is-centered-tablet-portrait {
        text-align: center !important;
    }
    .is-centered-tablet-portrait .divider {
        margin: 0 auto !important;
    }
}

section:focus {
    outline: none !important;
}

/* =========================== */
/* ======== Event Card ======= */
/* =========================== */
.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.column.is-4 {
    flex: none;
    width: 33.33333333%;
}

.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.title.is-5 {
    font-size: 1.25rem;
}

.has-text-right {
    text-align: right !important;
}

.refresh-summary {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 4.5em;
    text-overflow: ellipsis;
}

.refresh-summary-title {
    position: relative;
    margin: 10px 0 0 0;
    margin-bottom: 10px !important;
    padding: 0 0 5px 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button.is-primary {
    background-color: #00329e;
    border-color: transparent;
    color: #fff;
}

.button.is-primary:hover {
    background-color: #002e91;
    border-color: transparent;
    color: #fff;
}

.button.is-primary:focus {
    border-color: transparent;
    color: #fff;
}

.button.is-primary:focus:not(:active),
.button.is-primary.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(0, 50, 158, 0.25);
}

.button.is-primary:active {
    background-color: #002a85;
    border-color: transparent;
    color: #fff;
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
}

.button:hover {
    border-color: #b5b5b5;
    color: #363636;
}

.button:focus {
    border-color: #3273dc;
    color: #363636;
}

.button:focus:not(:active),
.button.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.button:active {
    border-color: #4a4a4a;
    color: #363636;
}

.image {
    display: block;
    position: relative;
    padding-top: 66.6666%;
}

.image img {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
