<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="{{ .Site.Params.footer.mailchimp.link }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <h3 class="footer-title" id="subscribe_title">Join Our Mailing List!</h3>
            
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c7b34cca67c5aa62532130cbe_e5040d3cd0" tabindex="-1" value="">
            </div>

            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="footer-title button">
            </div>
        </div>
    </form>
</div>
<!--End mc_embed_signup-->
